{
  "extends": "eslint:recommended",
  "env": {
    "node": true
  },
  "rules": {
  	"no-console": 0,
  	"new-cap": 0,
    "eqeqeq": [2, "allow-null"],
    "no-extend-native": 2,
    "no-use-before-define": [
      2,
      {
        "functions": false,
        "classes": false
      }
    ],
    "no-caller": 2,
    "no-undef": 2,
    "no-unused-vars": 2,
    "no-proto": 2,
    "space-infix-ops": 2,
    "dot-notation": 2,
    "wrap-iife": 2,
    "no-empty": 2,
    "no-with": 2,
    "no-multi-str": 2,
    "no-trailing-spaces": 2,
    "consistent-this": [
      2,
      "_this"
    ]
  }
}
